@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,900);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Duru+Sans);
/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body {
  padding: 0;
  margin: 0; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  background-color: none;
  display: block;
  -webkit-tap-highlight-color: transparent; }

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */
.index {
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: black; }
  .index .container {
    width: 100%;
    height: 100%; }
    .index .container .cat {
      position: relative;
      width: 50%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left; }
      .index .container .cat:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        left: 0;
        top: 0; }
      .index .container .cat:hover:after, .index .container .cat:active:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2b79a9;
        opacity: 0.6;
        transition: background-color 0.3s linear;
        left: 0;
        top: 0; }
      .index .container .cat .title {
        text-align: center;
        z-index: 10; }
        .index .container .cat .title .text {
          color: white;
          font-size: 38px; }
          @media screen and (max-width: 767px) {
            .index .container .cat .title .text {
              font-size: 22px; } }
        .index .container .cat .title img {
          height: 100px;
          margin-top: 20px; }
          @media screen and (max-width: 767px) {
            .index .container .cat .title img {
              height: 65px; } }
    .index .container .motor {
      background-image: url(img/motor-bg.jpg);
      background-size: cover; }
    .index .container .ambient {
      background-image: url(img/ambient-bg.jpg);
      background-size: cover; }
    .index .container .warnning {
      background-image: url(img/warnning-bg.jpg);
      background-size: cover;
      background-position-y: 60%; }
    .index .container .history {
      background-image: url(img/history-bg.jpg);
      background-size: cover; }

.motor-data {
  font-family: 'Noto Sans TC', sans-serif; }
  .motor-data .home {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 24px; }
  .motor-data .container {
    width: 80%;
    margin: auto; }
    .motor-data .container .title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      margin-top: 15px; }
    .motor-data .container .chart {
      margin-top: 20px; }
    @media screen and (max-width: 767px) {
      .motor-data .container {
        width: 100%; } }

.ambient-data {
  font-family: 'Helvetica'; }
  .ambient-data .home_btn {
    position: fixed;
    z-index: 999; }
  .ambient-data .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .ambient-data .container .map {
      position: relative;
      width: 1080px; }
      .ambient-data .container .map img {
        width: 100%; }
      .ambient-data .container .map .sensor {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 92px;
        height: 40px;
        border-radius: 14px;
        color: white;
        background-color: #2b79a9;
        font-size: 22px;
        text-align: center;
        vertical-align: middle;
        line-height: 42px;
        font-weight: 100; }
      .ambient-data .container .map #a647 {
        margin-left: 178px;
        margin-top: -315px; }
      .ambient-data .container .map #a6de {
        margin-left: 178px;
        margin-top: -240px; }
      .ambient-data .container .map #a72a {
        margin-left: 178px;
        margin-top: -165px; }
      .ambient-data .container .map #a70e {
        margin-left: -450px;
        margin-top: 14px; }
      .ambient-data .container .map #a6af {
        margin-left: -225px;
        margin-top: 14px; }
      .ambient-data .container .map #a6fb {
        margin-left: 0px;
        margin-top: 14px; }
      .ambient-data .container .map #a64f {
        margin-left: -20px;
        margin-top: 75px; }
      .ambient-data .container .map #a6e2 {
        margin-left: -20px;
        margin-top: 165px; }
      .ambient-data .container .map #a646 {
        margin-left: -20px;
        margin-top: 250px; }
      .ambient-data .container .map #a6f6 {
        margin-left: -200px;
        margin-top: 120px; }
      .ambient-data .container .map #a664 {
        margin-left: -220px;
        margin-top: 200px; }
    .ambient-data .container .bubbel {
      box-sizing: border-box;
      position: absolute;
      width: 213px;
      height: 115px;
      background-image: url(img/bubble.png);
      background-size: cover;
      padding: 10px;
      padding-left: 27px;
      top: 50%;
      left: 50%; }
      .ambient-data .container .bubbel .text {
        color: black; }
    .ambient-data .container #a647_data {
      margin-left: 275px;
      margin-top: -355px; }
    .ambient-data .container #a72a_data {
      margin-left: 275px;
      margin-top: -280px; }

.warning-data {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100%; }
  .warning-data .container {
    width: 90%;
    margin: auto; }
    .warning-data .container .title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      margin-top: 15px; }
    .warning-data .container form {
      margin-top: 20px; }

.history {
  font-family: 'Helvetica'; }
  .history .container {
    width: 80%;
    margin: auto; }
    .history .container .title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      margin-top: 15px; }

.home_btn {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 24px;
  color: #2b79a9; }

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black; }
  #preloader #loading_txt {
    color: white;
    font-size: 48px;
    text-align: center;
    margin-top: calc(50vh - 24px); }

/*# sourceMappingURL=style.css.map */
